.wrapper,
.row:after {
  *zoom: 1; }
  .wrapper:before, .wrapper:after,
  .row:after {
    content: " ";
    display: table; }
  .wrapper:after,
  .row:after {
    clear: both; }

/*Grid layout*/
/*make sure that padding applied to elements is added within calculated dimensions*/
*,
*:after,
*:before {
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*add a rule to make sure any images used behave fluidly*/
img {
  width: auto;
  max-width: 100%;
  height: auto !important; }

.wrapper {
  width: 100%;
  margin: 0 auto; }

.wrapper--center {
  width: 100%;
  margin: 0 auto;
  text-align: center; }

/*the rows*/
/*the columns*/
[class*='column-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px; }

@media only screen and (min-width: 30em) {
  .wrapper {
    width: 95%;
    max-width: 65em; }
  .column-1 {
    width: 8.33333%; }
  .column-2 {
    width: 16.66667%; }
  .column-3 {
    width: 25%; }
  .column-4 {
    width: 33.33333%; }
  .column-5 {
    width: 41.66667%; }
  .column-6 {
    width: 50%; }
  .column-7 {
    width: 58.33333%; }
  .column-8 {
    width: 66.66667%; }
  .column-9 {
    width: 75%; }
  .column-10 {
    width: 83.33333%; }
  .column-11 {
    width: 91.66667%; }
  .column-12 {
    width: 100%; } }

.pagination {
  display: inline-block;
  text-align: center;
  margin: 20px; }

.pagination-wrapper {
  width: 100%;
  margin: auto;
  margin-top: 20px;
  text-align: center; }

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  cursor: default; }

.pagination a.active {
  background-color: #4682B4;
  color: white; }

.pagination a:hover:not(.active) {
  background-color: #ddd; }

.comment ul {
  border-left: 1px solid #E0E0E0; }

.comment li {
  list-style: none; }

.comment p {
  margin-bottom: 10px; }

.comment__post {
  border-bottom: 1px solid #CCC; }

.comment--underline {
  border-bottom: 1px dotted #CCC; }

.comment__topbar {
  font-size: 0.75rem; }

.comment__topbar--orange {
  font-weight: bold;
  color: #CC5500; }

.header {
  background-color: #d8ecf3;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #4682B4; }

.header__label {
  position: relative;
  display: inline-block;
  padding: 1px 6px 3px;
  border: 1px solid #4682B4;
  font-size: 0.75rem;
  font-weight: 600;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
  background-color: #fff;
  margin-left: 1rem;
  margin-top: 1rem; }

.header__tab--selected {
  color: #FF8C00; }

.header__logo {
  margin: 10px 5px 5px; }

.header__category {
  position: absolute;
  top: 35px;
  left: 166px;
  font-size: x-small;
  font-weight: bolder; }

.post-preview__subtext {
  margin: 5px 0px 5px;
  font-size: 12px; }

.post-preview__comment {
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  color: #696969; }

.post-preview__title-url {
  font-weight: 400;
  font-size: 12px;
  color: #696969; }

.post-preview__score {
  font-size: 600;
  color: #A9A9A9;
  font-weight: bold;
  font-size: 18px;
  text-align: center; }

.post-preview__arrow {
  color: #c6c6c6;
  text-align: center; }
