@import "variables";
@import "mixins";
@import "grid";
@import "pagination";
@import "comment";

.App-header {
  background-color: #cce6ff;
  height: 45px;
  padding: 20px;
  color: #4682B4;
}

.App-title {
  font-size: 1rem;
}

